:root {
    --clr-black: #000;
    --clr-ver: #00C7A0;
    --clr-degrade:linear-gradient(180deg, #96FBE9 0%,rgba(241, 245, 244, 0) 70%);
    --clr-white: white;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
    --letter-h-quicksand: 'Quicksand', sans-serif;
    --letter-p-dosis: 'Dosis', sans-serif;
}
.producto-precio1{
    border-radius: 50%;
    background: var(--clr-black);
    width: 6rem;
    height: 2rem;
    color: var(--clr-white);
    text-align: center;
    padding-top: 0.1rem;
    align-self: flex-end;
    border: 2px solid var(--clr-ver);
    font-family: var(--letter-p-dosis);
}
.producto-precio1::before{
    content: '$ ';
}
.producto-precio{
    font-family: var(--letter-p-dosis);
    font-size: 1rem;
}
.producto-titulo {
    font-size: 1.2rem;
    font-family: var(--letter-h-quicksand);
}
.producto-agregar {
    border: 0;
    background: var(--clr-black);
    color: var(--clr-white);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-ver);
    transition: background .2s, color .2s;
}
.producto-agregar:hover {
    background-color: var(--clr-ver);
    color: var(--clr-black);
    border: 2px solid var(--clr-black);
}
@media(max-width:575px){
    .contenedor-productos {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width:576px)and (max-width: 1023px){
    .contenedor-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}